.commitlintrc.json
.eslintcache
.eslintignore
.eslintrc.js
.git
.husky
.npmignore
.prettierignore
.prettierrc.js
.vscode
*.yml
**/.build
**/*.env
**/*.tsbuildinfo
**/artifacts
**/dist
**/Dockerfile
**/node_modules
Dockerfile
node_modules
