artifacts

public
.build

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

logs
*.log

coverage
*.lcov

node_modules/

*.tsbuildinfo

.eslintcache

dump.lsif

.node_repl_history

*.tgz

.pnpm-store
pnpm-store

.env*
!.env.example*

.cache

dist

globalConfig.json
coverage

